.nav_bare{
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    background-color: #ffffff00;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.nav_bare_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-theme{
        margin-left: 20px;
    }

}