@import 'body/body';
@import 'body/style_taille_article';
@import 'scrole/scrole';
@import 'home/video';
@import 'articles/articles_liste';
@import 'articles/img_article';
@import 'articles/liste_acha_user';
@import 'boutique/boutique';
@import 'menu_barre/menu_barre';
@import 'nav_bare/nav_bare';
@import 'restaurant/restaurant';
@import 'user/parametre';
@import 'user/pubListe';
@import 'user/listeAchat';
@import 'popup/popup';