@charset "UTF-8";
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
}

.body_2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(248, 248, 248);
  flex-direction: column;
  position: absolute;
  overflow-x: hidden; /* 🚫 Bloque scroll horizontal */
  overflow-y: scroll; /* ✅ Active scroll vertical */
  scrollbar-width: none; /* ❌ Masque scrollbar sur Firefox */
  -ms-overflow-style: none; /* ❌ Masque scrollbar sur IE */
}

body::-webkit-scrollbar {
  display: none; /* ❌ Masque scrollbar sur Chrome/Safari/Edge */
}

@media screen and (min-width: 560px) {
  .body_2 {
    width: 560px;
  }
  .section_menu_icon {
    width: 560px;
  }
}
.nav_bare {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: fixed;
  z-index: 5;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #1D71B8;
}

.forme_recherche {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.forme_recherche .input_reche {
  width: 85%;
  height: 40px;
  margin-right: 5px;
  border-radius: 13px;
  border: none;
  border: 1px solid black;
  padding-left: 10px;
}
.forme_recherche .button_reche {
  background-color: rgb(255, 255, 255);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.forme_recherche .button_reche .img_reche {
  width: 100%;
  height: 100%;
}

.bloc_logo {
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloc_logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.bloc_logo .bloc_logo_p {
  color: #1D71B8;
  font-weight: 600;
}

.retoure {
  width: 22px;
  height: 22px;
}

.retouree {
  width: 30px;
  height: 30px;
}

.lin_connect {
  width: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lin_connect img {
  width: 100%;
}

.section_pub {
  width: 100%;
}
.section_pub .img_anim {
  width: 100%;
}

.bloc_nave {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root {
  --font-grand_titre: clamp(1.8rem, 5vw, 3rem);
  --font-titre: clamp(1.5rem, 4vw, 2.2rem);
  --font-petit_titre: clamp(1.2rem, 3vw, 1.6rem);
  --font-paragraphe: clamp(1rem, 2.5vw, 1.2rem);
}

/* Style de base (mobile-first) */
.grand_titre {
  width: auto;
  font-size: 1.2rem;
  /* grand titre */
  font-weight: bold;
  margin-bottom: 0.5em;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Nombre de lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titre {
  width: auto;
  font-size: 1rem;
  /* titre moyen */
  font-weight: 600;
  margin-bottom: 0.4em;
}

.petit_titre {
  width: auto;
  font-size: 0.9rem;
  /* petit titre */
  font-weight: 500;
  margin-bottom: 0.3em;
}

.paragraphe {
  font-size: 0.8rem;
  /* paragraphe */
  line-height: 1.3;
  font-weight: 300;
  margin-bottom: 1em;
  width: auto;
}

/* Tablettes */
@media (min-width: 600px) {
  .grand_titre {
    font-size: 2.5rem;
  }
  .titre_moyen {
    font-size: 2rem;
  }
  .petit_titre {
    font-size: 1.5rem;
  }
  .paragraphe {
    font-size: 1.1rem;
  }
}
/* Ordinateurs */
@media (min-width: 1024px) {
  .grand_titre {
    font-size: 3rem;
  }
  .titre_moyen {
    font-size: 2.5rem;
  }
  .petit_titre {
    font-size: 1.8rem;
  }
  .paragraphe {
    font-size: 1.2rem;
  }
}
.bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.retour {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
}
.retour a {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.retour a .img_icon {
  width: 25px;
}

.bloc_form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc_form_p {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bloc_form_p h1 {
  margin-bottom: 10px;
  font-size: 19px;
}
.bloc_form_p P {
  width: 85%;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}
.bloc_form_p form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bloc_form_p form .jdhjgfd {
  width: 97%;
  border-radius: 13px;
  padding-left: 10px;
  padding-top: 10px;
}
.bloc_form_p form .bloc_form_input {
  width: 90%;
}
.bloc_form_p form .bloc_form_input h5 {
  font-size: 15px;
  margin-bottom: 5px;
}
.bloc_form_p form .bloc_form_input .info_radio {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  background-color: #d3d3d3;
  border-radius: 7px;
}
.bloc_form_p form .bloc_form_input .info_radio label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.bloc_form_p form .bloc_form_input .info_radio label input {
  width: 10px;
  height: 10px;
  transform: scale(2);
  margin-right: 10px;
}
.bloc_form_p form .bloc_form_input .info_radio .form_input {
  width: 100%;
  border-radius: 13px;
}
.bloc_form_p form .bloc_form_input input {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  border: 1px solid black;
  border-radius: 7px;
  text-align: center;
}
.bloc_form_p form .boutton_inpute {
  width: 90%;
  height: 50px;
  background-color: #1D71B8;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 7px;
}
.bloc_form_p form .text_d {
  font-size: 13px;
  margin-top: 10px;
}
.bloc_form_p form .text_d .link {
  color: #95C11F;
}
.bloc_form_p form p {
  font-size: 12px;
  width: 80%;
  margin-bottom: 10px;
  text-align: center;
}
.bloc_form_p form .blocfil {
  width: 50%;
  height: 50px;
  background-color: #ced2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  margin-bottom: 10px;
}
.bloc_form_p form .blocfil h4 {
  font-weight: 700;
  color: #95C11F;
}
.bloc_form_p form .blocfil input[type=file] {
  display: none;
}
.bloc_form_p form .blocfil label {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  border-radius: 7px;
}
.bloc_form_p form .blocfil label img {
  margin-right: 5px;
  width: 50px;
}

.erreur {
  margin-top: 5px;
  font-size: 12px;
  color: #E94E1B;
}

.section_menu_icon {
  width: 100%;
  background-color: rgba(203, 203, 203, 0.7);
  backdrop-filter: blur(5px); /* Effet de flou */
  -webkit-backdrop-filter: blur(5px); /* Pour Safari */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  position: fixed;
  padding-bottom: 10px;
}
.section_menu_icon .lien_icon {
  width: 35px;
  display: flex;
  flex-direction: column;
  color: rgba(28, 39, 76, 0.5215686275);
  font-size: 8px;
}

.icon_user {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.lin_connect {
  width: 30px;
  height: 30px;
}

.lien_icon {
  display: flex;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lien_icon .icon_menu {
  width: 30px;
  height: 30px;
}

.img_logo {
  margin-left: 20px;
  width: 40px;
}

.alerte_conteur {
  background-color: #E94E1B;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: 15px;
  position: absolute;
}

.conteur {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 9px;
}

.info_user_sold {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: rgba(204, 204, 204, 0.3882352941);
  padding: 10px;
  margin-top: 10px;
  border-radius: 13px;
}

.info_solde {
  width: 50%;
  height: auto;
  border-right: 1px solid rgb(99, 99, 99);
}
.info_solde h1 {
  font-size: 15px;
}
.info_solde h2 {
  font-size: 13px;
  font-weight: 400;
  color: rgb(121, 121, 121);
}

.clock_re_re {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.clock_re_re img {
  width: 40px;
}

.bloc_info_user {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_user {
  margin-top: 10px;
  width: 85%;
  height: auto;
  padding: 10px;
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 10px;
}
.info_user h2 {
  font-size: 22px;
  color: rgb(88, 88, 88);
}
.info_user h4 {
  font-size: 13px;
  color: rgb(149, 149, 149);
  font-weight: 400;
  margin-bottom: 10px;
}
.info_user .a {
  width: 300px;
  height: 50px;
  background-color: #c1c1c1;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4e4e4e;
  margin: 3px;
  font-weight: 600;
}
.info_user .deconecte {
  background-color: #ff6e3d;
  color: #ffffff;
}

.img_user_ {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.img_user_ a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.bloc_confirme {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 20;
  position: absolute;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.block_confir {
  width: 95%;
  height: auto;
  margin: 20px;
  background-color: #ffffff;
  overflow: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
  padding-top: 40px;
}
.block_confir h3 {
  width: 300px;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}
.block_confir textarea {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 7px;
  border: 1px solid black;
  text-align: center;
  font-size: 12px;
}
.block_confir p {
  font-size: 12px;
  color: #E94E1B;
}

.texte_anonce {
  text-align: center;
  font-size: 13px;
  color: #E94E1B;
}

.blockeT {
  width: 90%;
  height: auto;
  padding: 10px;
  margin-top: 10px;
}

.blockeB {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.sectionA {
  width: 45%;
  height: 100px;
  background-color: rgb(230, 230, 230);
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 6px;
  font-weight: 100;
  color: rgb(59, 59, 59);
}

.bloc_recherche {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.bloc_recherche .recherche_b {
  width: 89%;
  display: flex;
  justify-content: space-between;
}
.bloc_recherche .recherche_b .recherche_sz {
  width: 77%;
  height: 50px;
  border: none;
  border: 1px solid black;
  border-radius: 13px;
  padding-left: 5px;
}
.bloc_recherche .recherche_b .recher_dd {
  width: 20%;
  height: 50px;
  border-radius: 13px;
  border: none;
  background-color: #1D71B8;
  color: #ffffff;
  font-size: 12px;
}

.bloc_boutique {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.blockInfo {
  width: 90%;
  background-color: aqua;
  height: 300px;
}

.blocTexte h3 {
  font-size: 13px;
}
.blocTexte h4 {
  font-size: 10px;
  margin-top: -5px;
}
.blocTexte h4 span {
  font-size: 10px;
  color: rgb(131, 131, 131);
}

.listabtn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blocAbonnent {
  width: 85%;
  height: auto;
  border-radius: 13px;
  border: 1px solid #1D71B8;
  background-color: rgba(29, 114, 184, 0.1921568627);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.blocAbonnent h2 {
  width: 90%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1D71B8;
}
.blocAbonnent p {
  width: 90%;
  font-size: 13px;
  margin-bottom: 10px;
}
.blocAbonnent h3 {
  width: 50%;
  background-color: rgba(150, 193, 31, 0.662745098);
  text-align: center;
  padding: 7px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 7px;
}
.blocAbonnent a {
  width: 95%;
  height: 60px;
  background-color: #1D71B8;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 19px;
  border-radius: 13px;
}

.logoboutique {
  width: 100%;
  height: 200px;
}
.logoboutique img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoAbonnement h4 {
  font-size: 15px;
}
.infoAbonnement p {
  font-size: 13px;
  color: rgb(121, 121, 121);
}

.blocKategirie {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.blocKategirie .linkAjout {
  padding: 10px;
  background-color: rgba(204, 204, 204, 0.3882352941);
  font-size: 10px;
  border-radius: 13px;
  color: #0a0a0a;
}
.blocKategirie .blocCategori {
  width: 90%;
  height: 80px;
  background-color: rgba(204, 204, 204, 0.3882352941);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  margin-top: 10px;
}
.blocKategirie .blocCategori .blocko {
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
}
.blocKategirie .blocCategori .blocko a {
  width: 40px;
  height: 95%;
}
.blocKategirie .blocCategori .blocko .img_cate {
  width: 70px;
  height: 70px;
  margin-left: 5px;
  border-radius: 13px;
  object-fit: cover;
}
.blocKategirie .blocCategori .blocko .blocTexte {
  margin-left: 10px;
  height: 70px;
}
.blocKategirie .blocCategori .blocko .blocTexte h4 {
  font-size: 12px;
}
.blocKategirie .blocCategori .blocko .blocTexte p {
  font-size: 10px;
}
.blocKategirie .blocCategori .plusStyle {
  justify-content: end;
}
.blocKategirie .blocCategori .plusStyle .linkBtn {
  margin-right: 20px;
  width: 55%;
  height: 40px;
  min-height: 30px;
  background-color: #1D71B8;
  border-radius: 13px;
  color: rgb(255, 255, 255);
}
.blocKategirie .blocCategori .plusStyle a {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blocKategirie .blocCategori .plusStyle a img {
  width: 30px;
}

.blocKategirie {
  margin-bottom: 200px;
}
.blocKategirie .bloc_article {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #1D71B8;
  border-radius: 13px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.blocKategirie .bloc_article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 13px 13px 0px 0px;
}
.blocKategirie .bloc_article .blockinfoa {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 95%;
  height: auto;
  background-color: #ffffff;
}
.blocKategirie .bloc_article .blockinfoa h1 {
  font-size: 30px;
  font-weight: 500;
}
.blocKategirie .bloc_article .blockinfoa h2 {
  font-size: 15px;
  margin-top: 5px;
  font-weight: 400;
}
.blocKategirie .bloc_article .blockinfoa p {
  font-size: 12px;
  font-weight: 300;
}
.blocKategirie .bloc_article .blockinfoa .bloc_linka {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.blocKategirie .bloc_article .blockinfoa .bloc_linka a {
  width: 150px;
  height: 60px;
  background-color: #1D71B8;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.blocKategirie .bloc_article .blockinfoa .bloc_linka .alte {
  background-color: #E94E1B;
}

.bloc_taille {
  width: 300px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.form-element {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 4px;
}

.form-element input {
  display: none;
}

.form-element label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border: 2px solid #ddd;
  background: #fff;
  box-shadow: 0px 5px 20px 2px rgba(208, 208, 208, 0.1);
  text-align: center;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}

.form-element .icon {
  margin-top: 10px;
  font-size: 30px;
  color: #555;
  transition: all 200ms ease-in-out;
}

.form-element .title {
  font-size: 15px;
  color: #555;
  padding: 5px 0px;
  transition: all 200ms ease-in-out;
}

.form-element label:before {
  content: "✓";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
  background: #1D70B7;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 200ms ease-in-out;
}

.form-element input:checked + label:before {
  opacity: 1;
  transform: scale(1);
}

.form-element input:checked + label .icon {
  color: #1D70B7;
}

.form-element input:checked + label .title {
  color: #1D70B7;
}

.form-element input:checked + label {
  border: 2px solid #1D70B7;
}

.texte_minime {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.form-element-plus {
  position: relative;
  width: auto;
  height: 40px;
  margin: 4px;
  margin-right: 15px;
}

.form-element-plus input {
  display: none;
}

.form-element-plus label {
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border: 2px solid #ddd;
  background: #fff;
  box-shadow: 0px 5px 20px 2px rgba(208, 208, 208, 0.1);
  text-align: center;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}

.form-element-plus .icon {
  margin-top: 10px;
  font-size: 30px;
  color: #555;
  transition: all 200ms ease-in-out;
}

.form-element-plus .title {
  font-size: 15px;
  color: #555;
  padding: 5px 0px;
  transition: all 200ms ease-in-out;
}

.form-element-plus label:before {
  content: "✓";
  position: absolute;
  width: 18px;
  height: 18px;
  top: -2px;
  left: -2px;
  background: #1D70B7;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 200ms ease-in-out;
}

.form-element-plus input:checked + label:before {
  opacity: 1;
  transform: scale(1);
}

.form-element-plus input:checked + label .icon {
  color: #1D70B7;
}

.form-element-plus input:checked + label .title {
  color: #1D70B7;
}

.form-element-plus input:checked + label {
  border: 2px solid #1D70B7;
}

.texte_minime {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.dmmefnkfkjfk {
  font-size: 13px;
  margin-top: 3px;
}
.dmmefnkfkjfk .link {
  color: #95C11F;
}

.blocPayes {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.blocPayes a {
  width: 100px;
  height: 50px;
  background-color: rgb(218, 218, 218);
  border-radius: 14px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocArticlP {
  margin-top: 20px;
  width: 90%;
  height: auto;
  border: 1px solid #1D71B8;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.blocArticlP .infoBoutique {
  margin-top: 10px;
  width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.blocArticlP .infoBoutique .blookk {
  display: flex;
}
.blocArticlP .infoBoutique .blookk .dkdkdk {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
}
.blocArticlP .infoBoutique .blookk .infotextebta {
  margin-left: 10px;
}
.blocArticlP .infoBoutique .blookk .infotextebta h1 {
  font-size: 15px;
}
.blocArticlP .infoBoutique .blookk .infotextebta p {
  font-size: 12px;
  font-weight: 300px;
}
.blocArticlP .infoBoutique a img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.blocArticlP .infoBoutique .iconBoutique {
  position: relative;
  justify-self: right;
}
.blocArticlP .imgCategori {
  width: 95%;
  height: 200px;
  object-fit: cover;
  margin-top: 5px;
}
.blocArticlP .blocinfoCategorie {
  width: 95%;
  height: auto;
}
.blocArticlP .blocinfoCategorie h1 {
  font-size: 19px;
  margin-top: 5px;
}
.blocArticlP .blocinfoCategorie p {
  font-size: 10px;
}
.blocArticlP .BlockProduit {
  margin-top: 10px;
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.blocArticlP .BlockProduit a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blocArticlP .BlockProduit a .p {
  display: flex;
  width: 65px;
  font-size: 14px;
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Nombre de lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blocArticlP .BlockProduit a p {
  display: flex;
  font-size: 14px;
  color: #000000;
}
.blocArticlP .BlockProduit .pColor {
  color: #1D71B8;
  font-weight: 600;
}
.blocArticlP .BlockProduit img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
}

.imgContour {
  border: 2px solid #1D71B8;
}

.bloc_scrole_menu {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloc_scrole_menu .scrole {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 270px;
  overflow-x: auto;
  scrollbar-width: none;
  padding-left: 10px;
}
.bloc_scrole_menu .scrole .slider {
  margin: 4px 5px;
  width: 100px;
  height: 160px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  scroll-snap-align: start;
}
.bloc_scrole_menu .scrole .slider p {
  font-size: 10px;
  margin-top: 2px;
  color: rgb(41, 41, 41);
}
.bloc_scrole_menu .scrole .slider .slider_img {
  width: 100px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}
.bloc_scrole_menu .scrole .slider_new {
  margin: 4px 7px;
  width: 150px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  height: 180px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  scroll-snap-align: start;
  background-color: rgb(236, 236, 236);
}
.bloc_scrole_menu .scrole .slider_new h2 {
  width: 130px;
  font-size: 15px;
  color: rgb(24, 24, 24);
  margin-bottom: 5px;
  margin-top: 5px;
}
.bloc_scrole_menu .scrole .slider_new .slider_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.dkdddjk {
  width: 100%;
  padding-left: 40px;
  font-size: 12px;
  margin-bottom: 3px;
}
.dkdddjk h1 {
  font-weight: 400;
}

.scrole::-webkit-scrollbar {
  display: none;
}

.section_reste_info {
  border-top: 1px solid rgb(117, 117, 117);
  border-bottom: 1px solid rgb(117, 117, 117);
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_reste_info .lien_produit_reste {
  width: 95%;
  height: 140px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.section_reste_info .lien_produit_reste img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.lvgkdjshjgh {
  padding-top: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.lvgkdjshjgh .eelllfllekkf {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.lvgkdjshjgh .eelllfllekkf .sskddjdj {
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.lvgkdjshjgh .eelllfllekkf .sskddjdj .lvgkdjshjgh_img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 13px;
}
.lvgkdjshjgh .eelllfllekkf .sskddjdj h1 {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* nombre de lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(38, 38, 38);
}
.lvgkdjshjgh .eelllfllekkf .sskddjdj p {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* nombre de lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  color: rgb(134, 134, 134);
  line-height: 1.2;
}
.lvgkdjshjgh .eelllfllekkf .sskddjdj h2 {
  font-size: 15px;
  color: rgb(25, 25, 25);
  margin-top: -3px;
}

.scrole_img {
  z-index: 3;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding-left: 10px;
}
.scrole_img .scrol_img_s {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 60px;
  overflow-x: auto;
  scrollbar-width: none;
}
.scrole_img .uegeeyg {
  height: 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin: 0px 5px;
  scroll-snap-align: start;
  background-color: aqua;
}
.scrole_img .hdudjdgdg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.uegeeyg::-webkit-scrollbar {
  display: none;
}

.imgPddk {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.blocListP {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.listProduiti {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
.listProduiti .h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
  font-size: 17px;
}
.listProduiti .blochdfg {
  width: 130px;
  height: auto;
  border: 1px solid #1D71B8;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 5px;
}
.listProduiti .blochdfg img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 13px 13px 0px 0px;
}
.listProduiti .blochdfg h1 {
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
.listProduiti .blochdfg .soldeFinfo {
  font-size: 12px;
  font-weight: 200;
}
.listProduiti .blochdfg a {
  width: 100%;
  height: 40px;
  background-color: #1D71B8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  margin-top: 20px;
  color: #ffffff;
}

.blocInfoCategories {
  width: auto;
  height: 70px;
  margin-bottom: 10px;
  border: 1px solid #1D71B8;
  border-radius: 13px;
  padding: 5px;
  padding-right: 30px;
  display: flex;
}
.blocInfoCategories img {
  width: 80px;
  height: 100%;
  border-radius: 13px;
  object-fit: cover;
}
.blocInfoCategories .ddkfkdk {
  margin-left: 10px;
}
.blocInfoCategories .ddkfkdk h2 {
  font-size: 14px;
}
.blocInfoCategories .ddkfkdk h3 {
  font-size: 10px;
  color: #494949;
}

.blockarticle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ddhfj {
  margin-left: 15px;
  margin-bottom: 5px;
}

.bloc_taille {
  width: 100%;
}

.blocImg {
  width: 100%;
  height: 400px;
}
.blocImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blocInfoArticle {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.blocInfoArticle h1 {
  font-size: 22px;
}
.blocInfoArticle h2 {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}

.sectionBloc {
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-end;
}
.sectionBloc form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
}
.sectionBloc form input {
  width: 140px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  border-radius: 13px;
  border: none;
  background-color: #1D71B8;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  margin-right: 10px;
}
.sectionBloc .icon_mms_link {
  width: 45px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionBloc .icon_mms {
  width: 45px;
}

.plus {
  color: #E94E1B;
}

.plus_nav {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.bloc_taille {
  margin-left: 10px;
  width: 90%;
}

.blocBoto_style {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.blocBoto_style_bloke {
  width: 95%;
  display: flex;
  align-items: center;
}

.blockFacture {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blockFac {
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}

.blockInfoArticle {
  width: 93%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blockInfoArticle img {
  width: 60px;
  height: 60px;
  background-color: aqua;
  border-radius: 13px;
  margin-right: 10px;
}

.InfoArticle {
  width: auto;
}
.InfoArticle h1 {
  font-size: 14px;
}
.InfoArticle h2 {
  font-size: 12px;
}
.InfoArticle h3 {
  font-size: 10px;
  font-weight: 400;
}

.InfoArticleplus {
  width: 25px;
  height: 25px;
  background-color: rgb(210, 210, 210);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dddufduud {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(210, 210, 210);
  border: none;
  border-radius: 50px;
}
.dddufduud h1 {
  color: rgb(85, 85, 85);
}

.infoAchata {
  width: 93%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.infoAchata h1 {
  font-size: 15px;
  font-weight: 500;
}
.infoAchata h2 {
  font-size: 12px;
}
.infoAchata h2 span {
  font-weight: 400;
}
.infoAchata p {
  margin-top: 10px;
  font-size: 11px;
  color: #95C11F;
}

.blocleArte {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blocleArte .bloKleArteb {
  width: 90%;
  height: auto;
  border-radius: 13px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.blocleArte .dpdiido {
  color: #E94E1B;
  background-color: #ffc4b1;
}

.blocanule {
  margin-top: 5px;
  width: 98%;
  display: flex;
  justify-content: flex-end;
}

.date_position {
  width: 100%;
  text-align: end;
}

.blocBotoneListe {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.boutton_inputee {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #1D71B8;
  color: #ffffff;
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}

.boutton_inpute {
  width: auto;
  height: 50px;
  border: none;
  background-color: #1D71B8;
  color: #ffffff;
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

.annule {
  background-color: #E94E1B;
}

.blockinfoAlte {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #2f2f2f;
}
.blockinfoAlte p {
  margin-top: 10px;
  font-size: 12px;
  width: 90%;
}

.ddkffjdkfjf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ddkffjdkfjf .jdhjgfd {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 13px;
}

.bloocke {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  background-color: rgba(150, 193, 31, 0.1843137255);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  border-radius: 13px;
}
.bloocke p {
  width: 90%;
  font-size: 11px;
}
.bloocke p span {
  font-weight: 700;
}
.bloocke .verte {
  margin-top: 10px;
  color: #96c11f;
}
.bloocke .rouge {
  color: #E94E1B;
}

.bloockee {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-radius: 13px;
}
.bloockee .p {
  width: 90%;
  font-size: 12px;
}
.bloockee .p span {
  font-weight: 700;
}
.bloockee .rouge {
  color: #E94E1B;
}

.block_info_boutique {
  width: 90%;
  height: auto;
  border-radius: 13px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.ddjdjfhkf {
  width: 100%;
  height: 100%;
  display: flex;
}
.ddjdjfhkf img {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 20px;
  object-fit: cover;
}

.block_info_prame {
  width: auto;
  height: auto;
  padding-top: 10px;
}
.block_info_prame h1 {
  font-size: 17px;
  color: black;
}
.block_info_prame h2 {
  font-size: 11px;
  color: black;
  font-weight: 400;
}
.block_info_prame h3 {
  font-size: 10px;
  color: black;
  font-weight: 400;
}

.ddjfkff {
  width: 90%;
  height: 50px;
  background-color: rgb(235, 235, 235);
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 13px;
  border: none;
}

.flex {
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.deconet {
  background-color: #E94E1B;
  color: #ffffff;
}

.ffdofjfjjd {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ffdofjfjjd .ddfkdmjfkff {
  width: 95%;
  height: 50px;
  padding-left: 10px;
  border-radius: 13px;
  border: none;
  border: 1px solid black;
}

.ddlfk {
  height: auto;
}

.blocfildd {
  background-color: #d5ffe1;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 13px;
}
.blocfildd input[type=file] {
  display: none;
}
.blocfildd label {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.blocfildd label h4 {
  color: #0ec141;
}
.blocfildd label img {
  margin-right: 5px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.h5d {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 97%;
  font-size: 10px;
  font-weight: 400;
}

.info_radio_djs {
  margin-top: 10px;
  width: 97%;
  height: 50px;
}
.info_radio_djs .form_input_ddj {
  width: 100%;
  height: 50px;
  border: none;
  border: 1px solid black;
  border-radius: 13px;
}

.types_produit_texte {
  color: #0ec141;
}

.doldkdmslls {
  width: 91%;
  padding: 10px;
  border: none;
  border: 1px solid black;
  border-radius: 13px;
}

/*# sourceMappingURL=style.css.map */
