.blokinfoBoutique{
    display: flex;
    justify-content: space-between;
}
.notificationLink{
    display: flex;
}
.notification{
    position: relative;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 34, 0);
    
    width: 10px;
    height: 10px;
    padding: 8px;
    border-radius: 100%;
    font-size: 0.6rem;
    color: rgb(255, 255, 255);
}