.menu_barre{
    width: 100%;
    height: 100vh;
    position: relative;
}

.menu_barre_bloc {
    z-index: 100;
    width: 100%;
    background-color: rgba(205, 205, 205, 0.7);
    backdrop-filter: blur(5px); /* Effet de flou */
    -webkit-backdrop-filter: blur(5px); /* Pour Safari */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    position: fixed;
    padding-bottom: 22px;
    padding-top: 12px;

}
.icon_link_bloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e3dcdc;
}
.p_icon{
    font-size: 0.6rem;
    font-weight: 400;
}