   .ddjjjfdmkdmddhi {
       width: 100%;
       margin-top: 10px;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   /* Overlay du popup */
   .popupOverlay {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.4);
       z-index: 1000;
       animation: fadeIn 0.3s ease forwards;
   }

   /* Popup du bas (style mobile) */
   .popupBox {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background: white;
       width: 100%;
       max-width: 500px;
       height: 200px;
       margin: 0 auto;
       padding: 10px;
       border-radius: 15px 15px 0 0;
       box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
       text-align: center;
       position: absolute;
       bottom: -100%;
       left: 0;
       right: 0;
       opacity: 0;
       animation: slideUp 0.4s ease forwards;
   }

   @keyframes slideUp {
       from {
           transform: translateY(100%);
           opacity: 0;
       }

       to {
           transform: translateY(-0);
           opacity: 1;
           bottom: 0;
       }
   }

   @keyframes fadeIn {
       from {
           opacity: 0;
       }

       to {
           opacity: 1;
       }
   }

   /* Animation fermeture */
   .closing {
       animation: slideDown 0.3s ease forwards;
   }

   @keyframes slideDown {
       from {
           transform: translateY(-10px);
           opacity: 1;
       }

       to {
           transform: translateY(100%);
           opacity: 0;
       }
   }

   /* Boutons du popup */
   .popupBtn {
       border: none;
       cursor: pointer;
       font-size: 15px;
   }

   .popupBoxButton {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-around;
       width: 100%;
   }

   .confirmBtn {
       background-color: rgb(63, 156, 0);
       color: white;
       border-radius: 100px;
       width: 40%;
   }

   .cancelBtn {
       background-color: #181818ff;
       color: white;
       border-radius: 100px;
       width: 40%;
   }