.blockFacture{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blockFac{
    width: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;

}
.blockInfoArticle{
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
        width: 60px;
        height: 60px;
        background-color: aqua;
        border-radius: 13px;
        margin-right: 10px;
    }

}
.InfoArticle {
    width: auto;

    h1{
        font-size: 14px;
    }
    h2{
        font-size: 12px;
    }
    h3{
        font-size: 10px;
        font-weight: 400;
    }
}
.InfoArticleplus{
    width: 25px;
    height: 25px;
    background-color: rgb(210, 210, 210);
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dddufduud{
    width: 25px;
    height: 25px;
    display: flex;
justify-content: center;
align-items: center;
background-color: rgb(210, 210, 210);
border: none;
border-radius:50px;
h1{
    color: rgb(85, 85, 85);
}
}

.infoAchata{
    width: 93%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    h1{
        font-size: 15px;
        font-weight: 500;
    }
    h2{
        font-size: 12px;
        span{
            font-weight: 400;
        }
    }
    p{
        margin-top: 10px;
        font-size: 11px;
        color: #95C11F;
    }
}

.blocleArte{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .bloKleArteb{
        width: 90%;
        height: auto;
        border-radius: 13px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .dpdiido{
        color: #E94E1B;
        background-color: #ffc4b1;
    }
}
.blocanule{
    margin-top: 5px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
}
.date_position{
    width: 100%;
    text-align: end;
}
.blocBotoneListe{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.boutton_inputee{
    width: 200px;
    height: 50px;
    border: none;
    background-color: #1D71B8;
    color: #ffffff;
    border-radius: 13px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
.boutton_inpute{
    width: auto;
    height: 50px;
    border: none;
    background-color: #1D71B8;
    color: #ffffff;
    border-radius: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
.annule{
    background-color: #E94E1B;
}
.blockinfoAlte{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: #2f2f2f;
    p{
        margin-top: 10px;
        font-size: 12px;
        width: 90%;
    }
}
.ddkffjdkfjf{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .jdhjgfd{
        width: 70%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 13px;
    }
}
.bloocke{

    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    background-color: #96c11f2f;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    border-radius: 13px;
    p{
        width: 90%;
        font-size: 11px;
        span{
            font-weight: 700;
        }
    }
    .verte{
        margin-top: 10px;
        color: #96c11f;
    }
  .rouge{
    color: #E94E1B;
  }
}

.bloockee{
    
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    border-radius: 13px;
    .p{
        width: 90%;
        font-size: 12px;
        span{
            font-weight: 700;
        }
    }

  .rouge{
    color: #E94E1B;
  }
}