.nav_bare {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    z-index: 5;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #1D71B8;
}
.forme_recherche{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: right;

    .input_reche{
        width: 85%;
        height: 40px;
        margin-right: 5px;
        border-radius: 13px;
        border: none;
        border: 1px solid black;
        padding-left: 10px;
    }
    .button_reche{
        background-color: rgb(255, 255, 255);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        .img_reche{
            width: 100%;
            height: 100%;
        }
    }
}
.bloc_logo {
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .bloc_logo_p{
        color: #1D71B8;
        font-weight: 600;
    }
}

.retoure {
    width: 22px;
    height: 22px;
}

.retouree {
    width: 30px;
    height: 30px;
}

.lin_connect {
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
    }
}

.section_pub {
    width: 100%;
    .img_anim {
        width: 100%;
    }
}

.bloc_nave {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}