
    .blockarticle {
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;   
        padding-bottom: 200px;
     
    }

    .ddhfj {
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .bloc_taille {
        width: 100%;
    }
    .blocImg {
        width: 100%;
        height: 400px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .blocInfoArticle {
        width: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        h1 {
            font-size: 22px;
        }
        h2 {
            font-size: 12px;
            font-weight: 300;
            margin-bottom: 10px;
         
            span{
                font-weight: 600;
            }
        }
    }
.local_h2{
   display: flex;
   align-items: center;
}
    .local_{
    width: 30px;
}

    .sectionBloc {
        width: 100%;
        height: 100vh;
        display: flex;
        position: absolute;
        z-index: 1;
        flex-direction: column;
        justify-content: flex-end;    

         form {
            width: 100%;
            height: 100vh;  
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            position: fixed;
            input {
                width: 140px;
                padding-left: 10px;
                padding-right: 10px;
                height: 50px;
                border-radius: 13px;
                border: none;
                background-color: #1D71B8;
                color: #ffffff;
                font-weight: 600;
                font-size: 13px;
                margin-right: 10px;
            }
        }
        .icon_mms_link{
            width: 45px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .icon_mms{
            width: 45px;
        }

    }


    

.plus{
    color: #E94E1B;
}
.plus_nav{
     z-index: 2;
    background-color: #ffffff00;
    border: none;
}
.bloc_taille{
    margin-left: 10px;
    width: 90%;
}

.blocBoto_style{
    padding-top: 20px;
    padding-bottom: 20px;    
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.blocBoto_style_bloke{
    width: 95%;
    display: flex;
    align-items: center;
}